<table class="table">
   <thead>
       <tr>
           <th class="col-md-1"></th>
           <th class="col-md-5 text-secondary">Event</th>
           <th class="col-md-5 text-secondary">Stage</th>
       </tr>
   </thead>
   <tbody {{ stimulus_controller('event-collection') }} 
        data-event-collection-index-value="{{ form.events|length > 0 ? form.events|last.vars.name + 1 : 0 }}"
        data-event-collection-prototype-value="{{ form_widget(form.events.vars.prototype)|e('html_attr') }}"
   >
   {% for event in form.events %}
   <tr {{ stimulus_controller('fade') }}>
       <td>
           <button class="deleteRecord border border-0" type="button" {{ stimulus_action('event-collection', 'delete') }}>
               <i class="bi bi-trash"></i>
           </button>
       </td>
       <td>{{ form_row(event.type, {
            attr: {
                'class': 'form-select bg-light',
                'data-event-collection-target': 'type'
            }
       }) }}</td>
       <td>{{ form_row(event.stage, {
            attr: {
                'class': 'form-select bg-light',
                'data-event-collection-target': 'stage'
            }
       }) }}</td>
   </tr>
   {% endfor %}
   <tr {{ stimulus_controller('fade') }}>
       <td class="border border-0">
           <button class="addRecord border border-0 mt-1" type="button" {{ stimulus_action('event-collection', 'add') }}>
               <i class="bi bi-plus"></i>
           </button>
       </td>
   </tr>
   </tbody>
</table>