<div>
    <p>Fields to sync</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="col-md-1"></th>
            <th class="col-md-3 text-secondary">Entity</th>
            <th class="col-md-4 text-secondary">Field B24</th>
            <th class="col-md-4 text-secondary">Field GR</th>
        </tr>
    </thead>
    <tbody {{ stimulus_controller('field-collection') }} 
        data-field-collection-index-value="{{ form.fields|length > 0 ? form.fields|last.vars.name + 1 : 0 }}"
        data-field-collection-prototype-value="{{ form_widget(form.fields.vars.prototype)|e('html_attr') }}"
   >
    {% for field in form.fields %}
    <tr {{ stimulus_controller('fade') }}>
        <td>
            <button class="deleteRecord border border-0" type="button" {{ stimulus_action('field-collection', 'delete') }}>
                <i class="bi bi-trash"></i>
            </button>
        </td>
        <td>{{ form_row(field.entity, {
            attr: {
                'class': 'form-select bg-light',
                'data-field-collection-target': 'entity'
            }
       }) }}</td>
       <td>{{ form_row(field.bitrix, {
            attr: {
                'class': 'form-select bg-light',
                'data-field-collection-target': 'bitrix'
            }
       }) }}</td>
       <td>{{ form_row(field.getresponse, {
            attr: {
                'class': 'form-select bg-light',
                'data-field-collection-target': 'getresponse'
            }
       }) }}</td>
    </tr>
    {% endfor %}
    <tr {{ stimulus_controller('fade') }}>
        <td class="border border-0">
            <button class="addRecord border border-0 mt-1" type="button" {{ stimulus_action('field-collection', 'add') }}>
                <i class="bi bi-plus"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>