<table class="table">
   <thead>
       <tr>
           <th class="col-md-1"></th>
           <th class="col-md-5">Event</th>
           <th class="col-md-5">Stage</th>
       </tr>
   </thead>
   <tbody {{ stimulus_controller('collection') }}>
   {% for event in form.events %}
   <tr >
       <td>
           <button class="deleteRecord border border-0" type="button" {{ stimulus_action('collection', 'delete') }}>
               <i class="bi bi-trash"></i>
           </button>
       </td>
       <td>{{ form_row(event.type, {
            attr: {
                'class': 'form-select bg-light',
                'data-clipboard-target': 'type'
            }
       }) }}</td>
       <td>{{ form_row(event.stage, {
            attr: {
                'class': 'form-select bg-light',
                'data-clipboard-target': 'stage'
            }
       }) }}</td>
   </tr>
   {% endfor %}
   <tr>
       <td class="border border-0">
           <button class="addRecord border border-0 mt-1" type="button" {{ stimulus_action('collection', 'add') }}>
               <i class="bi bi-plus"></i>
           </button>
       </td>
   </tr>
   
   </tbody>
</table>